attrs==19.3.0
backcall==0.2.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
decorator==4.4.2
future==0.18.2
idna==2.10
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
jsonschema==3.2.0
kaggle-environments==1.0.11
numpy==1.19.0
parso==0.7.0
pickleshare==0.7.5
Pillow==9.0.0
prompt-toolkit==3.0.5
Pygments==2.6.1
pyrsistent==0.16.0
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
torch==1.5.1
torchvision==0.6.1
traitlets==4.3.3
urllib3==1.26.5
wcwidth==0.2.5
